// Global variables
$dark-green: #245733 !important
$light-green: #a4b78c !important

// Global elements
body
    font-family: 'Verdana', 'Arial', sans-serif

// Global classes
main
    background-color: $light-green

// Navbar
nav
    background-color: $dark-green
    .nav-item
        .nav-link
            color: white

// Footer


// Support partial
