$colors: (
    vit: #fff,
    darkgreen: #245733,
    svart: #000,
    lightgreen: #a4b78c,
    lightgrey: #f9f9f9,
    );

body {
    background-color: map-get($colors, lightgrey);
    height: 100%;
    width: 100%;
    font-family: 'Verdana', 'Arial' !important;
}

.nav {
    background-color: map-get($colors, darkgreen);
    color: map-get($colors, darkgreen);
    a: map-get($colors, darkgreen);
}